*{
	margin: 0; 
	padding: 0;
}

.main_page{
	width: 90%; 
	height: 100vh; 
	margin: auto;
}

.main_page h1{
	margin: 0; 
	padding: 20px 0;
}

.avatar_card img{
	width: 200px; 
	height: 200px
}

.menu_style{
	width: 100%; 
	height: 100px; 
	background: #6ab04c; 
	color: white;
}

.menu_style ul{
	height: 100px; 
	display: flex; 
	justify-content: space-around; 
	align-items: center;
}

.menu_style ul li{
	list-style: none; 
	text-transform: uppercase; 
	color: white;
}

.menu_style ul li a{
	color: white;
	text-decoration: none;
}

.aboutStyle{
	width: 100%; 
	height: 300px; 
	background: #badc58; 
	color: white; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.contactStyle{
	width: 100%; 
	height: 300px; 
	background: #7bed9f; 
	color: white; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}